// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #b8d1ff;
  --ion-color-primary-rgb: 184,209,255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #a2b8e0;
  --ion-color-primary-tint: #bfd6ff;

  --ion-color-secondary: #80dde8;
  --ion-color-secondary-rgb: 128,221,232;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #71c2cc;
  --ion-color-secondary-tint: #8de0ea;

  --ion-color-tertiary: #d2c4ff;
  --ion-color-tertiary-rgb: 210,196,255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #b9ace0;
  --ion-color-tertiary-tint: #d7caff;

  --ion-color-success: #7ddca2;
  --ion-color-success-rgb: 125,220,162;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #6ec28f;
  --ion-color-success-tint: #8ae0ab;

  --ion-color-warning: #ffe780;
  --ion-color-warning-rgb: 255,231,128;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0cb71;
  --ion-color-warning-tint: #ffe98d;

  --ion-color-danger: #f0b9b9;
  --ion-color-danger-rgb: 240,185,185;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #d3a3a3;
  --ion-color-danger-tint: #f2c0c0;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}