<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon slot="start" name="podium"></ion-icon>
    <ion-title>OpenTrus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title class="ot-title"><i>OPENTRUS Product Development Guidelines</i></ion-title>
  <h1>Open / Transparent / Truthful
  </h1>
  <p>Either:</p>
  <ul><li>
    <p>Open source</p></li>

    <li>
      <p>Transparent and open to third party auditing</p></li>
  </ul>
  <p>The company or team developing the product should
    be very honest and open to questions from the public and from people.
    It is usually OK to make mistakes as long as you are honest about
    them, as long as trust is there.</p>
  <h1>Privacy Respecting
  </h1>
  <p>Either:</p>
  <ul><li>
    <p>No tracking</p></li>

    <li>
      <p><u>Completely transparent</u> telemetry –</p>
      <ul><li>
        <p>where the end user can opt-out completely
          AND</p></li>

        <li>
          <p>where the end user can see exactly what the
            telemetry being ‘sent home’ is; AS well as what kind of
            <u>inferred</u> information could be known by the developers company
            through the use of detective work, or cross-comparison with other
            third party information about the end-user.</p></li>

        <p>If there is any tracking, it should be
          &nbsp;	completely consensual, and the data collected should be opened up
          &nbsp;	&nbsp;for everyone to see for scientific purposes. (anonymised properly
          &nbsp;	&nbsp;of course.)</p>
      </ul></li>
  </ul>
  <h1>Ethical and excellent to people.
  </h1>
  <p>Making sure that the life of all stakeholders is
    improved if possible, taking consideration of the most veritable
    knowledge on ergonomics, psychology, and hopes of all living beings.</p>
  <ul><li>
    <p>Workers - fair compensation, low CEO:worker
      salary ratio, democratic control of the company.</p></li>

    <li>
      <p>consumers</p></li>

    <li>
      <p>the public (both now and in the future
        generations)</p></li>

    <li>
      <p>biological life.</p></li>
  </ul>
  <p>It should also be a product/service that is uplifting to humankind and the planet to be deemed excellent.</p>
  <p>This mission of the product should be to reduce suffering of people and all life.</p>
  <h1>Non-harmful
  </h1>
  <p>Not allowing the product to be used for harmful or
    violent purposes, preventing end-users from using the product for
    harmful purposes.</p>
  <h1>Taking responsibility for environmental impact
  </h1>
  <p>Developers should make attempts to assess the
    environmental impact of the product, take responsibility for it, and
    reduce it to as low as can physically be.</p>
  <p>Animal life, planet system functioning, plastic
    waste, etc.</p>
  <p>If you discover, even years after release of the
    product, that you’re product unnecessarily produces too much energy
    wastage or is in any other way harmful, then you should let people
    know publicly.</p>
  <h1>Repairable and rugged.
  </h1>
  <p>As much as is possible, developers should design
    products that can be repaired and upgraded by end-users in the
    future, allowing a reduction in built-in obsolescence.</p>
  <p>Very in depth documentation should be created and
    provided for the product, in order to allow for repair.</p>
  <p>Parts should be easy to remove.</p>
  <p>Parts should be made available to replace broken
    parts.</p>
  <p>Guidance should be given to consumers that provide
    professional advice on how to lengthen the useful-life of the
    product.</p>
  <p>This is in order to be good to consumers, and will
    also reduce the amount of landfill.</p>
  <h1>Usable (well-designed) and Useful
  </h1>
  <p><strong>Usable:</strong> Designers and engineers should
    strive for excellence in the usability and functionality of the
    product or service. It should do a job well.</p>
  <p>As much as is possible, products should be
    designed to be usable by people of all physical, cognitive, medical
    and technical ability.</p>
  <p>An attempt at making an excellent product,
    technically and ergonomically, that helps people should be made.</p>
  <p>Combining usability with any more advanced
    capability of the product is recommended to be achieved through a
    settings option. i.e. in video games, players can choose between
    Easy, Medium, Hard modes, based on their preference. This could be
    implemented within the software to combine usability with software
    capability.</p>
  <p><strong>Useful:</strong> The product or service being made
    should be aimed at solving a real problem, uplifting people and
    strive to be a catalyst for the reduction of suffering on Earth.</p>
  <p>A problem’s priority for solving can be
    determined by measuring the severity of suffering that the problem
    causes to a living being and comparing the result with other problems
    that could be worked on.</p>
  <p>An additional model to think about the choice of
    what work to do might be to find a problem that you have some
    interest, skill or talent in figuring out how to solve and dedicating
    work toward that.</p>
  <p>Usually ‘how much money could be made’ from
    solving a problem isn’t always a good method of choice. A company
    might be able to make a lot of money selling super-yachts to
    multi-millionaires who can’t find luxurious enough boats, but this
    is not a very worthy problem to spend your time on solving.</p>

  <h1>Safe &amp; Secure
  </h1>
  <p>The product should be safe to use.</p>
  <p>Prioritising continuous hardening of security to
    avoid user’s private information being viewed.</p>

</ion-content>
