<!--<ion-header>-->
<!--<ion-toolbar>-->
<!--<ion-buttons slot="start">-->
<!--<ion-menu-button></ion-menu-button>-->
<!--</ion-buttons>-->
<!--<ion-title>-->
<!--OpenTruss-->
<!--</ion-title>-->
<!--</ion-toolbar>-->
<!--</ion-header>-->

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-icon slot="start" name="podium"></ion-icon>
        <ion-title>OpenTrus</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--<ion-card class="welcome-card">-->
    <!--<ion-img src="/assets/shapes.svg"></ion-img>-->
    <!--<ion-card-header>-->


    <p class="welcome-card">See trust rating for different products.</p>
    <p>Find out about products and how they compare for rights and standards, safety and security. <br> The trust scores for different products and services are available. </p><p> See Guide for OpenTrus in the side menu for what each review letter represents.</p>

    <ion-grid no-padding>
        <ion-row>
            <ion-col>
                <ion-searchbar></ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-title>Example reviews</ion-title>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Puri.sm</ion-card-title>
                        <ion-badge color="medium" margin-end="10px">Overall: 7</ion-badge>
                        <br>
                        <ion-badge color="success">O:9</ion-badge>
                        <ion-badge color="success">P:9</ion-badge>
                        <ion-badge color="success">E:7</ion-badge>
                        <ion-badge color="success">N:7</ion-badge>
                        <ion-badge color="light">T:?</ion-badge>
                        <ion-badge color="success">R:8</ion-badge>
                        <ion-badge color="light">U:?</ion-badge>
                        <ion-badge color="success">S:7</ion-badge>
                        <!--<ion-card-subtitle color="red">Warning: Anti-user practices. (Privacy)</ion-card-subtitle>-->
                        <ion-card-content>Funding model: Sales of Purism Librem laptops and phone. <br>
                            Committed to open-source hardware and software. <br>Security and privacy focused</ion-card-content>
                    </ion-card-header>

                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Adafruit Electronics</ion-card-title>
                        <ion-badge color="medium" margin-end="10px">Overall: 7</ion-badge>
                        <br>
                        <ion-badge color="success">O:8</ion-badge>
                        <ion-badge color="success">P:8</ion-badge>
                        <ion-badge color="light">E:?</ion-badge>
                        <ion-badge color="light">N:?</ion-badge>
                        <ion-badge color="light">T:?</ion-badge>
                        <ion-badge color="success">R:9</ion-badge>
                        <ion-badge color="success">U:8</ion-badge>
                        <ion-badge color="success">S:7</ion-badge>
                        <!--<ion-card-subtitle color="red">Warning: Anti-user practices. (Privacy)</ion-card-subtitle>-->
                        <ion-card-content>Funding model: Sales of open-source hardware electronics boards <br>
                        </ion-card-content>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Fb</ion-card-title>
                        <ion-badge color="medium" margin-end="10px">Overall: 1</ion-badge>
                        <br>
                        <ion-badge color="warning">O:2</ion-badge>
                        <ion-badge color="danger">P:2</ion-badge>
                        <ion-badge color="tertiary">E:4</ion-badge>
                        <ion-badge color="tertiary">N:6</ion-badge>
                        <ion-badge color="warning">T:3</ion-badge>
                        <ion-badge color="warning">R:3</ion-badge>
                        <ion-badge color="success">U:7</ion-badge>
                        <ion-badge color="danger">S:1</ion-badge>
                        <ion-card-subtitle color="red">Warning: Anti-user practices. (Privacy)</ion-card-subtitle>
                        <ion-card-content>Funding model: user tracking and profiled advertising. <br>
                            Anti-user practices. <br>Selling private messages to third parties. [1]</ion-card-content>
                    </ion-card-header>

                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Googl</ion-card-title>
                        <ion-badge color="medium" margin-end="10px">Overall: 2</ion-badge>
                        <br>
                        <ion-badge color="warning">O:2</ion-badge>
                        <ion-badge color="danger">P:2</ion-badge>
                        <ion-badge color="tertiary">E:4</ion-badge>
                        <ion-badge color="tertiary">N:6</ion-badge>
                        <ion-badge color="warning">T:3</ion-badge>
                        <ion-badge color="warning">R:3</ion-badge>
                        <ion-badge color="success">U:7</ion-badge>
                        <ion-badge color="danger">S:2</ion-badge>
                        <ion-card-subtitle color="red" >Warning: Anti-user practices. (Privacy)</ion-card-subtitle>
                        <ion-card-content>Funding model: user tracking and profiled advertising.</ion-card-content>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>YT</ion-card-title>
                            <ion-badge color="medium" margin-end="10px">Overall: 2</ion-badge>
                            <br>
                            <ion-badge color="warning">O:2</ion-badge>
                            <ion-badge color="danger">P:2</ion-badge>
                            <ion-badge color="tertiary">E:4</ion-badge>
                            <ion-badge color="tertiary">N:6</ion-badge>
                            <ion-badge color="warning">T:3</ion-badge>
                            <ion-badge color="warning">R:3</ion-badge>
                            <ion-badge color="success">U:8</ion-badge>
                            <ion-badge color="danger">S:2</ion-badge>
                            <ion-card-subtitle color="red" >Warning: Anti-user practices. (Privacy)</ion-card-subtitle>
                            <ion-card-content>Funding model: user tracking and profiled advertising.</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>Twittr</ion-card-title>
                            <ion-badge color="medium" margin-end="10px">Overall: 3</ion-badge>
                            <br>
                            <ion-badge color="warning">O:3</ion-badge>
                            <ion-badge color="warning">P:3</ion-badge>
                            <ion-badge color="tertiary">E:4</ion-badge>
                            <ion-badge color="tertiary">N:6</ion-badge>
                            <ion-badge color="warning">T:3</ion-badge>
                            <ion-badge color="warning">R:3</ion-badge>
                            <ion-badge color="success">U:7</ion-badge>
                            <ion-badge color="tertiary">S:4</ion-badge>
                            <!--<ion-card-subtitle color="danger" >Warning: Anti-user practices. (Privacy)</ion-card-subtitle>-->
                            <ion-card-content>Funding model: user tracking and profiled advertising.</ion-card-content>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-row>
    </ion-grid>





    <!--<ion-list lines="none">-->
    <!--<ion-list-header>-->
    <!--<ion-label>Resources</ion-label>-->
    <!--</ion-list-header>-->
    <!--<ion-item href="https://beta.ionicframework.com/docs/">-->
    <!--<ion-icon slot="start" color="medium" name="book"></ion-icon>-->
    <!--<ion-label>Ionic Documentation</ion-label>-->
    <!--</ion-item>-->
    <!--<ion-item href="https://beta.ionicframework.com/docs/building/scaffolding">-->
    <!--<ion-icon slot="start" color="medium" name="build"></ion-icon>-->
    <!--<ion-label>Scaffold Out Your App</ion-label>-->
    <!--</ion-item>-->
    <!--<ion-item href="https://beta.ionicframework.com/docs/layout/structure">-->
    <!--<ion-icon slot="start" color="medium" name="grid"></ion-icon>-->
    <!--<ion-label>Change Your App Layout</ion-label>-->
    <!--</ion-item>-->
    <!--<ion-item href="https://beta.ionicframework.com/docs/theming/basics">-->
    <!--<ion-icon slot="start" color="medium" name="color-fill"></ion-icon>-->
    <!--<ion-label>Theme Your App</ion-label>-->
    <!--</ion-item>-->
    <!--</ion-list>-->
</ion-content>

<!--<ion-footer>-->
<!--<ion-toolbar>-->
<!--<ion-buttons slot="start">-->
<!--<ion-menu-button></ion-menu-button>-->
<!--</ion-buttons>-->
<!--</ion-toolbar>-->
<!--</ion-footer>-->
