.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.welcome-card {
  max-height: 35vh;
  overflow: hidden;
  //font-size: 10px;
}

p {
  font-size: 14px;
  //color: #0bb8cc;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

//ion-badge {
//  --padding-end: 5px
//}
